header,footer,.action,.links,.awesome,.rightPart,.fourImages{
    display:flex;
}
header,.action,.links,.rightPart,.fourImages,footer{
    align-items: center;
}
header,.awesome,.quote,.information{
    padding-right: 10%;
    padding-left: 10%;
}
body{
    box-sizing: border-box;
    margin:0;
}
header{
    justify-content: space-between;
    box-sizing: border-box;
    height:50px;
    position:fixed;
    width:100%;
}
.links{
    gap:5px;
}
.awesome{
    width: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    gap: 5%;
}
.awesome h1{
    margin: 0;
}
.awesome p{
    margin-top: 0;
}
.leftPart,.rightPart{
    width: 100%;
}
.information{
    text-align: center;
    padding-bottom: 4%;
}
.quote{
    background-color: rgb(206, 227, 255);
    padding-top: 5%;
    padding-bottom: 5%;
}
blockquote{
    margin-bottom: 0;
}
.quote p{
    margin-top: 0;
}
.action{
    margin:5% 10% 200px 10%;
    margin-bottom: ;
    padding: 10px 10px;
    gap:10px;
    justify-content: space-around;
}





.rightPart,.fourImages,footer,.awesome{
    justify-content: center;
}
.fourImages{
    flex-wrap: wrap;
}
footer{
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

header,.awesome,footer{
    background-color: #1f2937;
}
header,.awesome,button,.action,footer{
    color: white;
}
img,.action,button{
    border-color: rgb(38, 114, 255);
    border-style: solid;
    border-width: 1px;
}
.action,button{
    background-color: #3882f6;
}
button{
    border-radius: 5px;
    width: 100px;
    padding: 5px;
}
.action button{
    border-color: white;
}

.rightPart{
    background-color: rgb(148, 166, 189);
}

img,.action{
    border-radius: 10px;
}
figcaption,img{
    width:140px;
}
img{
    height: 140px;
}


/*font*/
header h1{
    font-size: 24px;
    color: #f9faf8;
}
header .links{
    font-size: 18px;
    color: #e5e7eb;
}
.awesome h1{
    font-size:48px;
    font-weight: 800px;
    color: #f9faf8;
}
.information h1,blockquote,.quote p{
    color:#1f2937;
}
.information h1{
    font-size: 36px;
    font-weight: 800;
}
blockquote{
    font-size:36px;
    font-style: italic;
    text-align: left;
    font-weight: 300;
}
.quote p{
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}
.action p{
    font-size: 20px;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 0;
}
